{% extends 'baseTemplates/index.html' %}
{% load static %}

{% block content %}
      <div class="container my-5">
        <h1 class="display-5 text-center">All Quizzes</h1>
        <a href="{% url "search" " " %}" class="btn btn-light">All Quiz</a>
        {% if categories%}
          {% for category in categories %}
            <a href="{% url "search" category.category_name %}" class="btn btn-light">{{category.category_name}}</a>

          {% endfor %}
          
        {% endif %}


        <form class="d-flex my-3" role="search" method="GET" action="{% url "search" " " %}">
          <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
          <a class="btn btn-outline-success" type="submit">Search</a>
        </form>
      </div>

      <div class="container">
        <div class="row" >
          {% if quizzes|length > 0 %}
            {% for quiz in quizzes %}
            <div class="col m-2">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{quiz.title|truncatewords:2}}</h5>
                  <p class="card-text">Total Questions : {{quiz.question_set.all|length}}</p>

                  <p class="card-text">{{quiz.description|truncatewords:10}}</p>
                  <a href="{% url "quiz" quiz.id %}" class="btn btn-outline-primary">Start Quiz</a>
                  <small style="font-size:0.9vw;" class="ms-1">{{quiz.created_at|timesince}} ago</small>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
              <p class="text-danger text-center">No Quiz Found related to this Category</p>
            
          {% endif %}
          

          
        </div>
      </div>
      {% endblock content %}
